* { margin:0; padding:0; box-sizing: border-box; } 

body {
    font-family: 'Source Code Pro', sans-serif;
    background: rgb(183,166,171);
background: linear-gradient(0deg, rgba(183,166,171,1) 5%, rgba(153,71,90,1) 100%);
}

.container {
    height: 100%;
}

#footer, #registerlogin, #containershop, #divshop, #filtershop, .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* scroll dugme */

#scrollbtn {
    display: none; 
    position: fixed;
    width:25px;
    height: 25px;
    bottom: 30px;
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: #19171C; 
    color: #81A2B2;
    cursor: pointer; 
    border-radius: 50%; 
    font-size: 15px;
}

/* header */

#left {float:left; padding-left:10%; padding-top: 1%;}

#left a, .hidden span {
    text-decoration: none;
    display:inline-block;
    color: #19171C;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.hidden i {
    font-size: 15px;
}

#left a{
    text-shadow:-2px 2px 1px rgb(119, 55, 70);
}

#header {
    background-color: #B7A6AB;
    position: relative;
    z-index: 9999;
}

#right{
    float:right;
    padding-right: 5%;
}

#right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

#right ul li {
    display: inline-block;
}

#right ul li a {
    text-decoration: none;
    font-size: 20px;
}

#right ul li span{
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    padding-top:35px;
    display: block;
    color: #19171C;
    font-weight: bold;
    font-size: 25px;
}

#right ul ul {
    position: absolute;
    min-width: 200px;
    background: #756168;
    display: none;
}

#right ul ul li {
    display: block;
    background: #B7A6AB;
}

#right ul li:hover ul {
    display: block;
}

.hidden {
    background: rgb(155, 80, 97);
    color: #19171C;
    padding: 25px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width: 822px) {
    .hidden {
        display:block;
    }
    #left {
        display:none;
    }

    #right ul {
        display:none;
        position: static;
        background: #B7A6AB;
    }
    #right ul li {
        display: block;
    }
    #right ul ul {
        position: static;
        background: #B7A6AB;
    }
}

/* modal */

#modalautor {
    padding-top: 10%; 
    width: 65%;
    height: 100vh;
    overflow: auto; 
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#modalcontent {
    padding: 5%;
    width: 100%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#modaldesno {
    padding: 5%;
    font-size: 25px;
    width: 100%;
    text-align: justify;
}

#modallevo img{
    width:250px;
    padding: 2%;
    border-radius: 50%;
    box-shadow: -12px 15px 0px 0px rgba(153,71,90,1);
}

@media(max-width: 822px) {

    #modalautor{
        height:100%;
    }

    #modalcontent {
        flex-direction: column;
        justify-content: center;
        padding: 4%;
    }
    #modallevo img{
        width:80%;
    }
    #modaldesno {
        padding:10%;
        text-align: center;
        font-size: larger;
    }
}

.export {
    color: black;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(155, 80, 97);
}

/* footer */

#footer {
    background-color:transparent;
    justify-content: space-around;
    padding:20px;
}

#social a {
    text-decoration: none;
    color: #19171C;
    font-size: 25px;
    padding: 20px;
    padding-bottom: 0;
}
